<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @avatar.name %>
</p>

<p>
  <b>Url:</b>
  <%= @avatar.url %>
</p>


<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>
